.TestInsert {
  form {
    max-width: 50rem;
    margin: 0 auto;
  }

  .input-wrap {
    position: relative;
    display: flex;
    gap: 2rem;

    label {
      display: inline-block;
      min-width: 10rem;
    }

    input,
    textarea {
      flex: 1;
      display: block;
      border: 1px solid #DDD;
    }

    textarea {
      min-height: 10rem;
    }

    + .input-wrap {
      margin-top: 1rem;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    padding: .75rem 1.5rem;
    background-color: #87ceeb;
    border: 1px solid #87ceeb;
    outline: none;
    font: {
      size: 1.6rem;
      weight: 500;
    }
    color: #333;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: #fff;
      color: #87ceeb;
    }
  }
}