@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html { font-size: 10px; }
body {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #444;
  line-height: 1.5;
}

a { text-decoration: none; color: inherit; }
img { max-width: 100%; }

input {
  padding: .75rem 1.5rem;
  border: 0 none;
  outline: none;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

textarea {
  padding: 1.5rem;
  border: 0 none;
  outline: none;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  resize: none;
}


/* App */
.App {
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
}

.App h1 {
  margin: 2rem 0;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
}